<div class="row" style="margin-top: 10px">
    <div class="col">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="color:coral">
  
        <a class="navbar-brand" style= "font-size:2em;color: blueviolet"  routerLink="/home">
            Bharat Bijili Corporation Customer IT Portal</a>
  
        <div class="collapse navbar-collapse">
          <div class="topnav">
            <!-- <span  class="nav-item nav-link"
              style="font-weight: bold; color: blueviolet"
              > Welcome </span -->
            
            <a (click)="onLogout()"
              style="cursor: pointer; font-weight: bold; color: blueviolet"
              class="nav-item nav-link"
              >LogOut</a >
          </div>
        </div>
      </nav>
    </div>
  </div>