<div class="container-fluid">
    <app-header></app-header>
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-hover">
                <thead>
                    <th>Transaction Id</th>
                    <th>Date</th>
                    <th>Payment ID</th>
                    <th>CustomerID</th>
                    <th>Payment Amount</th>
                    <th>Invoice ID</th>
                    <th>Payment Method</th>
               </thead>
               
                <tbody>
                    <tr *ngFor="let item of transData ;index as i">
                        <td> {{i+1}} </td>
                        <td>{{item.date}}</td>
                        <td> {{item.paymentId}}  </td>
                        <td> {{item.customerId}} </td>
                        <td> {{item.amount}} </td>
                        <td>{{item.invoiceId}}</td>
                        <td> {{item.paymentMethod}} </td>
                        
                    </tr>
                </tbody>
            </table>
            

        </div>
    </div>
    <a routerLink="/invoice">Go to Home</a>